:root {
    --primary: #35d614;
    --secondary: #14490d;
    --text-color: rgb(255, 255, 255);
    --text-secondary: rgb(255, 255, 255);
    --text-tertiary: #ffffff;
    --text-quartary: #000000;
}

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    display: inline-block;
    margin: 20px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: bold;
}

/* Event form */

#event-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://res.cloudinary.com/copper-imobiliaria/image/upload/v1660134895/principal.jpg");
    background-position: center;
    background-size: cover;
    height: 140vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#page h2,
#page .event-2 {
    color: var(--primary);
}

#page h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

#page .about-event {
    font-size: 2em;
    text-transform: uppercase;
    max-width: 300px;
    font-weight: bold;
    margin-bottom: 1em;
}

#page p {
    font-size: 1.2em;
    margin-bottom: .3em;
}

#page .event-2 {
    font-weight: bold;

}

#subscription-form {
    background-color: var(--secondary);
    padding: 1.5em;
    max-width: 22%;
}

#subscription-form p {
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.form-group label {
    color: var(--text-tertiary);
    margin-bottom: .3em;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn {
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

/* Benefits section */
#key-benefits h2 {
    background-image: url("https://res.cloudinary.com/copper-imobiliaria/image/upload/v1660153685/logo.jpg");
    text-align: center;
    padding: 3.4em;
    font-weight: 500;
}

.color1 {
    background-image: url("https://res.cloudinary.com/copper-imobiliaria/image/upload/v1660153685/logo.jpg");
    padding: 1.2em;
}

.color-font {
    color: #ffffff;
}

.benefits {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
}

.benefit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-quartary);
}

.benefit .benefit-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

#benefit-1 {
    background-image: url("https://res.cloudinary.com/copper-imobiliaria/image/upload/v1660234950/1.jpg");
}

#benefit-2 {
    background-image: url("https://res.cloudinary.com/copper-imobiliaria/image/upload/v1660155106/5.jpg");
}

#benefit-3 {
    background-image: url("https://res.cloudinary.com/copper-imobiliaria/image/upload/v1660155337/7.jpg");
}

/* Location */

#location {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://res.cloudinary.com/copper-imobiliaria/image/upload/v1660233148/11.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
}

#address,
#about-location {
    max-width: 30%;
}

#address {
    display:flex;
}

#address i {
    color: var(--primary);
    font-size: 4em;
    margin-right: 0.5em;
}

#address-details {
    text-align: center;
    font-size: 1.3em;
}

#about-location h3 {
    color: var(--primary);
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#about-location p {
    line-height: 1.5em;
}

#details {
    width: 80%;
    margin: 0 auto;
}

.detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
}

.detail img {
    width: 50%;
}

.detail h3 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 500;
}

#cta {
    height: 170px;
    background: url("https://res.cloudinary.com/copper-imobiliaria/image/upload/v1660153685/logo.jpg");
    background-position: center;
    background-size: cover;
}

#footer {
    text-align: center;
    color: var(--primary);
    background-color: #000000;
}

#footer i {
    color: var(--primary);
    font-size: 3em;
    margin-right: 0.5em;
}

/* Mobile */

@media (max-width: 450px) {

    #event-1 {
        flex-direction: column;
        height: auto;
        
    }

    #disclaimer {
        padding: 2em;
    }
    
    #disclaimer h2 {
        margin-bottom: 0.5em;
    }

    #subscription-form {
        max-width: 70%;
        margin-bottom: 2em;
    }

    .benefits {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
    }

    .benefit {
        max-width: 100%;
        margin-bottom: 2em;
    }

    #location {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em 0;
    }

    #address {
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }

    #address i {
        margin: .3em 0;
    }

    #about-location {
        order: 1;
        max-width: 100%;
    }
    
    .detail {
        flex-direction: column;
        margin-bottom: 0.5em;
        gap: 0;
    }

    .detail img {
        width: 100%;
        margin: 2em 0;
    }

    #detail-1 img {
        display: none;
    }

    .detail-description {
        padding: 0;
    }

    #detail-3 img {
        order: 2;
    }

    #detail-3 .detail-description {
        order: 1;
    }
}